*, :after, :before { box-sizing: border-box; }

body {
  background: #444444;
  text-align: center;
}

.canvas-container {
  position: relative;
  max-width: 1024px;
  min-width: 320px;
  margin: 0 auto;
}

canvas {
  border: 10px solid #EDEDED;
}

h1 {
  color: #EDEDED;
  margin-top: 0;
  font-size: 4em;
  font-family: Verdana;
  font-weight: bold;
  letter-spacing: -3px;
}

h1 strong {
  font-size: 1.35em;
  display: inline-block;
}